auto lo
iface lo inet loopback


iface {{ proxmox_custom_net_nic_name }} inet manual
iface {{ proxmox_custom_net_nic_name }}.{{ proxmox_custom_net_vlan_trusted }} inet manual
        vlan-raw-device {{ proxmox_custom_net_nic_name }}

iface {{ proxmox_custom_net_nic_name }}.{{ proxmox_custom_net_vlan_untrusted }} inet manual
        vlan-raw-device {{ proxmox_custom_net_nic_name }}

# The main bridge connected to the trunk
auto br_trs
iface br_trs inet static
        address {{ proxmox_custom_net_trusted_ip }}
        gateway {{ proxmox_custom_net_trusted_gw }}
        bridge-ports {{ proxmox_custom_net_nic_name }}.{{ proxmox_custom_net_vlan_trusted }} veth_trs
        bridge-stp off
        bridge-fd 0

# The separated bridge for our VMs
auto br_trs_sep
iface br_trs_sep inet manual
        address {{ proxmox_custom_net_sep_ip }}
        bridge-ports veth_trs_sep
        bridge-stp off
        bridge-fd 0

# The VETH pair linking the bridges
auto veth_trs_sep
iface veth_trs_sep inet manual

auto veth_trs
iface veth_trs inet manual
        link-type veth
        veth-peer-name veth_trs_sep

# The untrusted network bridge
auto br_ntrs
iface br_ntrs inet static
        bridge-ports {{ proxmox_custom_net_nic_name }}.{{ proxmox_custom_net_vlan_untrusted }}
        bridge-stp off
        bridge-fd 0


source /etc/network/interfaces.d/*